{% extends "layout.html" %}
{% block title %}Booking{% endblock %}

{% block body %}
{% if error %}
    <h2>{{ error }}</h2>
    <div class="sveiki2">
        <h3> Esat pārliecināts ka reģistrējāties/pieslēdzāties mājaslapai?</h3>
        <h3> Nospiežat Reģistrēties vai Pieslēgties pogu</h3>
        <button onclick="location.href='{{ url_for('registr') }}'">Reğistrēties</button>
        <button onclick="location.href='{{ url_for('login') }}'">Pieslēgties</button>
    </div>
{% endif %}
{% if success %}
    <h2>{{ success }}</h2>
{% endif %}
{% endblock %}