{% extends "layout.html" %}

{% block title %}Visi pasākumi{% endblock %}

{% block body %}
<h2>Visi pasākumi</h2>
<div class="event-grid">
    {% for event in events %}
    <div class="event-card">
        <img src="{{ event.poster }}" alt="{{ event.title }}">
        <h3>{{ event.title }}</h3>
        <button onclick="location.href='{{ url_for('event_detail', event_id=event.id) }}'">Sīkāk info</button>
        {% if role == "Admin" %}
            <button onclick="location.href='/user_list'">Paskatīt dalībniekus</button>
        {% endif %}
        {% if role == "Student" %}
            <button onclick="location.href='/zapis'">Pierakstīties</button>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
