{% extends "layout.html" %}
{% block title %}Sākumlapa{% endblock %}

{% block body %}
<h2>Tuvākie pasākumi</h2>
<div class="sveiki"></div>
    {% if user %}
        <p >Sveiki, {{ user }}, prieks redzēt jūs!</p>
    {% else %}
        <p>Laipni lūgti mājaslapā!</p>
    {% endif %}
    {% if role %}
        <p >Jūsu loma: {{ role }}</p>
    {% endif %}
</div>
{% if error %}
    <h2>{{ error }}</h2>
{% endif %}
<div class="event-grid">
    {% for event in events[:2] %}
    <div class="event-card">
        <img src="{{ event.poster }}" alt="{{ event.title }}">
        <h3>{{ event.title }}</h3>
                <button onclick="location.href='{{ url_for("event_detail", event_id=event.id) }}'">Sīkāk info</button>
        {% if role == "Admin" %}
            <button onclick="location.href='/user_list'">Paskatīt dalībniekus</button>
        {% endif %}
        {% if role == "Student" %}
            <form action="{{ url_for('pieteikties', event_id=event.id) }}" method="post">
                <button type="submit">Pierakstīties</button>
            </form>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
